<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
   <form method="get" action="/quizes?">
       <label for="buscar" class="rem">Buscar:</label>         
        <input type="text" id="buscar" name="search" value="<%= filtro %>"/>
        <input type="submit" value="Enviar">
    </form>
    <br>
     <% if (quizes.length===0) { %>
            No se hen encontrado resultados para la búsqueda<p>
            <a href="/quizes">Volver</a><p>
        <% } else {
            if ((filtro!==undefined)&&(filtro!=='')) { %>
                <a href="/quizes">Borrar Filtro</a><p>
            <% } } %>        
    
    <table>
       <tr>
           <td><a href="/quizes/new"><button type="button">Crear pregunta</button></a></td>
        </tr>
        <% var i; for (i=0; i < quizes.length; i++) { %>
            <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
                  <td>  <%= quizes[i].tema %></td>                 
                  <td>  <a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
                 <td>   <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
                        <button type="submit" onclick="return confirm('¿Borrar: <%= quizes[i].pregunta %>?');">Borrar</button>
                    </form></td>
            </tr>       
        <% } %>
    </table> <p>
  </body>
</html>
